# Exploration for Reported Assessment Results

## Imports and Such

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import geopandas as gpd
from shapely.geometry import Point
import plotly.graph_objects as go
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)

In [2]:
# Import assessment data minus fully suppressed scores
assessments = pd.read_pickle('../data/school_based/assessments_clean.pkl')

# Import Suppressed outlier data
suppressed = pd.read_pickle ('../data/school_based/full_suppression.pkl')

# Import Tennessee School District Geometry
tn_leas = gpd.read_file('../data/tn_leas.geojson', index_col='system_name')

## Listy McListface - A Place to look at the lists in my dataframe.

In [3]:
# Assessments Info
assessments.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 335452 entries, 0 to 381480
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   year                335452 non-null  int64
 1   system_name         335452 non-null  object
 2   school_name         335452 non-null  object
 3   test                335452 non-null  object
 4   subject             335452 non-null  object
 5   subject_area        335452 non-null  object
 6   student_group       335452 non-null  object
 7   valid_tests         335452 non-null  float64
 8   pct_met_exceeded    335452 non-null  float64
 9   system              335452 non-null  object
 10  school              335452 non-null  object
 11  school_lvl          335452 non-null  object
 12  tot_enrolled        335452 non-null  object
 13  fte_teachers        334603 non-null  float64
 14  stu_tchr_ratio      334603 non-null  float64
 15  school_type         335452 non-null  object
 16  magnet              335452 non-null  int64
 17  charter             335452 non-null  int64
 18  virtual             335452 non-null  object
 19  title_1             335452 non-null  object
 20  lat                 335452 non-null  float64
 21  long                335452 non-null  float64
 22  locale              335452 non-null  object
 23  geometry            335452 non-null  geometry
 24  pct_met_exceeded_w  335452 non-null  float64
 25  stu_tchr_ratio_w    334603 non-null  float64
 26  fte_teachers_w      334603 non-null  float64
dtypes: float64(9), geometry(1), int64(3), object(14)
memory usage: 71.7+ MB

In [4]:
# Student Groups
student_group_list = np.unique(assessments['student_group'].values).tolist()
student_group_list

['All Students',
 'American Indian or Alaska Native',
 'Asian',
 'Black or African American',
 'Black/Hispanic/Native American',
 'Economically Disadvantaged',
 'English Learner Transitional 1-4',
 'English Learners',
 'English Learners with Transitional 1-4',
 'Female',
 'Gifted',
 'Hispanic',
 'Male',
 'Native Hawaiian or Other Pacific Islander',
 'Non-Black/Hispanic/Native American',
 'Non-Economically Disadvantaged',
 'Non-English Learners/Transitional 1-4',
 'Non-Students with Disabilities',
 'Students with Disabilities',
 'Super Subgroup',
 'White']

In [5]:
# School Types
school_type_list = np.unique(assessments['school_type'].values).tolist()
school_type_list

['1-Regular school',
 '2-Special education school',
 '4-Alternative Education School']

In [6]:
# Subject Areas
subject_area_list = np.unique(assessments['subject_area'].values).tolist()
subject_area_list

['ELA', 'Math', 'Science', 'Social Studies']

## Unsuppressed: Broad Overview of Results

### Overall Unweighted Proficiencies by School-Level, Subject Area, and Year.

In [7]:
# Subject Area Pivot Table
subject_area_pivot = pd.pivot_table(assessments,
                       values = 'pct_met_exceeded',
                       index = ['school_lvl'],
                       columns = ['subject_area','year'],
                       aggfunc = np.mean)

# Get the current list of years
years = list(subject_area_pivot.columns)

subject_area_pivot
#.plot()

subject_area       ELA                                    Math            \
year              2018      2019      2021      2022      2018      2019
school_lvl
Elementary    0.313354  0.317439  0.288133  0.332412  0.351674  0.402860
High          0.269997  0.331378  0.294335  0.348687  0.231409  0.260610
Middle        0.272938  0.289341  0.244374  0.294892  0.362565  0.390276
Other         0.307405  0.327303  0.316126  0.344306  0.285647  0.308662
Secondary     0.293484  0.276567  0.359758  0.370127  0.308447  0.384527

subject_area                       Science                     Social Studies  \
year              2021      2022      2018      2021      2022           2018
school_lvl
Elementary    0.308109  0.338107  0.519245  0.353617  0.367404       0.338689
High          0.201373  0.229202  0.400077  0.349336  0.355829       0.270426
Middle        0.341143  0.357363  0.511250  0.322881  0.326773       0.337043
Other         0.244099  0.240873  0.413550  0.365386  0.347952       0.304003
Secondary     0.292991  0.387432  0.443152  0.505515  0.530455       0.277826

subject_area
year              2019      2021      2022
school_lvl
Elementary    0.345175  0.328732  0.364729
High          0.286531  0.305459  0.343403
Middle        0.359389  0.334036  0.383663
Other         0.296822  0.349833  0.327282
Secondary     0.428159  0.291515  0.525471

#### Visual of Log Proficiencies For All Subjects Combined by School Level (Unweighted)

In [8]:
# Apply logarithmic scaling to the values
log_values = np.log(subject_area_pivot.values)

# Create a diverging colorscale for heatmap
colorscale = 'Viridis'

# Create the heatmap figure
fig = go.Figure(data=go.Heatmap(
    z=log_values,
    x=subject_area_pivot.columns.get_level_values('year'),
    y=subject_area_pivot.index,
    colorscale=colorscale,
    zmid=np.median(log_values)  # Set the midpoint of the colorscale
))

# Update the layout
fig.update_layout(
    title='Combined Subject Area Heatmap (Log Scale)',
    xaxis_title='Year',
    yaxis_title='School Level'
)

# Show the figure
fig.show()

### üó∫Ô∏è Spatial Join of School Geometry (lat/long point) and District (polygons)

There's some funk going on here.  District names don't match across datasets.  I'm going to do a spatial merge to see which dististricts are associated based on thier physical location.

In [9]:
# Set the CRS for the assessments dataframe
assessments.crs = "EPSG:4269"

# Reproject assessments dataframe to match the CRS of tn_leas dataframe
reproject = assessments.to_crs(tn_leas.crs)

# Perform spatial join
assessments = gpd.sjoin(reproject, tn_leas, how='inner', predicate='intersects')

There is indeed a mismatch in naming conventions between datasets

In [10]:
# Looking at differences in naming conventions
pd.merge(
    left = assessments.groupby(['system_name_left','school_name'])['system_name_right'].nunique().loc[lambda x: x>1].reset_index().drop(columns = 'system_name_right'),
    right = assessments)[['system_name_left', 'school_name', 'system_name_right']].drop_duplicates()#.to_csv('../data/fixerupper.csv', index = False)

subset_assessments = assessments[['system_name_left', 'system_name_right']]
subset_assessments.tail()

       system_name_left              system_name_right
381475    Wilson County  Wilson County School District
381476    Wilson County  Wilson County School District
381477    Wilson County  Wilson County School District
381479    Wilson County  Wilson County School District
381480    Wilson County  Wilson County School District

In [11]:
# Load cleaned dictionary mapping
clean_dictionary =pd.read_csv('../data/clean_dictionary.csv')
clean_dictionary = pd.concat([pd.merge(
    left = assessments.groupby(['system_name_left','school_name'])['system_name_right'].nunique().loc[lambda x: x == 1].reset_index().drop(columns = 'system_name_right'),
    right = assessments)[['system_name_left', 'school_name', 'system_name_right']].drop_duplicates(), clean_dictionary])
clean_dictionary.tail(n=7)

,system_name_left,school_name,system_name_right
85,Williamson County,Centennial High School,Williamson County School District in Franklin
86,Williamson County,Discovery Virtual K-8 School,Williamson County School District in Franklin
87,Williamson County,Franklin High School,Williamson County School District in Franklin
88,Williamson County,Renaissance High School,Williamson County School District in Franklin
89,Williamson County,Vanguard Virtual High School,Williamson County School District in Franklin
90,Wilson County,Lebanon High School,Wilson County School District in Lebanon
91,Wilson County,Tennessee Virtual On-Line School,Wilson County School District

Proccessing steps: Keep system_name_right, rename as system_name, drop system_name_right, set_system_name at col index 2

In [12]:
# Merge assessments with the clean dictionary
assessments = (pd.merge(left = assessments, right = clean_dictionary))

# Rename the 'system_name_right' column to 'system_name'
assessments.rename(columns={'system_name_right': 'system_name'}, inplace=True)

# Move the 'system_name' column to the third position
columns = list(assessments.columns)
columns.insert(2, columns.pop(columns.index('system_name')))
assessments = assessments[columns]

# Drop the 'system_name_right' column
assessments.drop('system_name_left', axis=1, inplace=True)

In [13]:
assessments.head()

,year,system_name,school_name,test,subject,subject_area,student_group,valid_tests,pct_met_exceeded,system,school,school_lvl,tot_enrolled,fte_teachers,stu_tchr_ratio,school_type,magnet,charter,virtual,title_1,lat,long,locale,geometry,pct_met_exceeded_w,stu_tchr_ratio_w,fte_teachers_w,index_right
0,2018,Shelby County School District,Aspire Coleman,TNReady,ELA,ELA,All Students,321.0,0.112,TN-00985,TN-00985-8050,Elementary,570,27.5,20.73,1-Regular school,0,1,NOTVIRTUAL,1,35.2141,-89.923641,11-City: Large,POINT (-89.92364 35.21410),35.952,6654.33,8827.5,42
1,2018,Shelby County School District,Aspire Coleman,TNReady,ELA,ELA,Black or African American,299.0,0.114,TN-00985,TN-00985-8050,Elementary,570,27.5,20.73,1-Regular school,0,1,NOTVIRTUAL,1,35.2141,-89.923641,11-City: Large,POINT (-89.92364 35.21410),34.086,6198.27,8222.5,42
2,2018,Shelby County School District,Aspire Coleman,TNReady,ELA,ELA,Black/Hispanic/Native American,312.0,0.115,TN-00985,TN-00985-8050,Elementary,570,27.5,20.73,1-Regular school,0,1,NOTVIRTUAL,1,35.2141,-89.923641,11-City: Large,POINT (-89.92364 35.21410),35.880,6467.76,8580.0,42
3,2018,Shelby County School District,Aspire Coleman,TNReady,ELA,ELA,Economically Disadvantaged,222.0,0.095,TN-00985,TN-00985-8050,Elementary,570,27.5,20.73,1-Regular school,0,1,NOTVIRTUAL,1,35.2141,-89.923641,11-City: Large,POINT (-89.92364 35.21410),21.090,4602.06,6105.0,42
4,2018,Shelby County School District,Aspire Coleman,TNReady,ELA,ELA,English Learners with Transitional 1-4,11.0,0.182,TN-00985,TN-00985-8050,Elementary,570,27.5,20.73,1-Regular school,0,1,NOTVIRTUAL,1,35.2141,-89.923641,11-City: Large,POINT (-89.92364 35.21410),2.002,228.03,302.5,42

#### üè´ List of columns in assessments (school level) for use in district analysis.

In [14]:
# Let's figure how how I can pivot this    
districts = assessments[['locale',
                         'year',
                         'system_name', 
                         'school_lvl', 
                         'subject_area', 
                         'student_group', 
                         'pct_met_exceeded_w', 
                         'school_type',
                         'magnet',
                         'charter',
                         'title_1',
                         'fte_teachers_w',
                         'stu_tchr_ratio_w',
                         'valid_tests']]

### üèãÔ∏è Weighting Metrics Based on Valid Tests

#### üìá Indices for Weight Pivots

In [15]:
# Indices for pivots
indices = ['system_name',  # School District 
           'school_lvl', # Level of school (Elem, Middle, High)
           'school_type', # Regular, alternative, special education
           'magnet', # Is magnet?
           'charter', # Is charter?
           'title_1', # Is title 1?
           'locale', # Location category of school (rural, large city, etc)
           'subject_area', # Overall content area of assessments
           'student_group'] # Aggregate student groups (all students, students with disabilities, etc)

#### üèãÔ∏è‚ûï Sum of Valid-Test-Weighted Scores for pct_met_exceeded, fte_teachers, and student_tchr_ratio

In [16]:
# Sum of valid test scores (The üèãÔ∏è)
weight = pd.pivot_table(
    districts,
    values='valid_tests',  # Column to calculate the sum of valid test scores
    index=indices,
    columns='year',
    aggfunc=np.sum
)

# Sum of weighted scores pivot for 'pct_met_exceeded'
sum_weighted_proficiency = pd.pivot_table(
    districts,
    values='pct_met_exceeded_w', # Weighted sum of students who met or exceeded expectations
    index=indices,
    columns='year',
    aggfunc=np.sum
)

# Sum of weighted scores pivot for 'fte_teachers'
sum_weighted_fte = pd.pivot_table(
    districts,
    values='fte_teachers_w', # Weighted sum of full-time equivalent teachers
    index=indices,
    columns='year',
    aggfunc=np.sum
)

# Sum of weighted scores pivot for 'stu_tchr_ratio'
sum_weighted_str = pd.pivot_table(
    districts,
    values='stu_tchr_ratio_w', # Weighted sum of student/teacher ratios
    index=indices,
    columns='year',
    aggfunc=np.sum
)

# Create a multi-level column index
column_index = pd.MultiIndex.from_product([['pct_met_exceeded', 'fte_teachers', 'stu_tchr_ratio'], sum_weighted_proficiency.columns])

# Concatenate the pivot tables horizontally
weighted_sums_pivot = pd.concat([sum_weighted_proficiency, sum_weighted_fte, sum_weighted_str], axis=1)
weighted_sums_pivot.columns = column_index

#### üèãÔ∏è‚öñÔ∏è Weighted Averages for pct_met_exceeded_w, fte_teachers_w, stu_tchr_ratio_w

In [17]:
# Divide sum_weighted_proficiency by weight
weighted_avg_proficiency = sum_weighted_proficiency / weight

# Divide sum_weighted_fte by weight
weighted_avg_fte = sum_weighted_fte / weight

# Divide sum_weighted_str by weight
weighted_avg_str = sum_weighted_str / weight

# Create a multi-level column index for the weighted average pivots
column_index = pd.MultiIndex.from_product([['pct_met_exceeded', 'fte_teachers', 'stu_tchr_ratio'], weighted_avg_proficiency.columns])

# Concatenate the weighted average pivots horizontally
weighted_avg_pivot = pd.concat([weighted_avg_proficiency, weighted_avg_fte, weighted_avg_str], axis=1)
weighted_avg_pivot.columns = column_index

weighted_avg_pivot

                                                                                                                                                                pct_met_exceeded  \
year                                                                                                                                                                        2018
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                                     0.455
                                                                                                                          Black or African American                        0.314
                                                                                                                          Black/Hispanic/Native American                   0.312
                                                                                                                          Economically Disadvantaged                       0.352
                                                                                                                          English Learner Transitional 1-4                 0.355
...                                                                                                                                                                          ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4              NaN
                                                                                                                          Non-Students with Disabilities                     NaN
                                                                                                                          Students with Disabilities                         NaN
                                                                                                                          Super Subgroup                                     NaN
                                                                                                                          White                                              NaN

                                                                                                                                                                        \
year                                                                                                                                                              2019
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                           0.465
                                                                                                                          Black or African American              0.283
                                                                                                                          Black/Hispanic/Native American         0.274
                                                                                                                          Economically Disadvantaged             0.310
                                                                                                                          English Learner Transitional 1-4       0.333
...                                                                                                                                                                ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4    NaN
                                                                                                                          Non-Students with Disabilities           NaN
                                                                                                                          Students with Disabilities               NaN
                                                                                                                          Super Subgroup                           NaN
                                                                                                                          White                                    NaN

                                                                                                                                                                        \
year                                                                                                                                                              2021
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                           0.458
                                                                                                                          Black or African American              0.200
                                                                                                                          Black/Hispanic/Native American         0.215
                                                                                                                          Economically Disadvantaged             0.307
                                                                                                                          English Learner Transitional 1-4       0.111
...                                                                                                                                                                ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4  0.431
                                                                                                                          Non-Students with Disabilities         0.428
                                                                                                                          Students with Disabilities             0.156
                                                                                                                          Super Subgroup                         0.289
                                                                                                                          White                                  0.488

                                                                                                                                                                        \
year                                                                                                                                                              2022
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                           0.570
                                                                                                                          Black or African American              0.400
                                                                                                                          Black/Hispanic/Native American         0.426
                                                                                                                          Economically Disadvantaged             0.392
                                                                                                                          English Learner Transitional 1-4       0.357
...                                                                                                                                                                ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4  0.471
                                                                                                                          Non-Students with Disabilities         0.469
                                                                                                                          Students with Disabilities             0.235
                                                                                                                          Super Subgroup                         0.317
                                                                                                                          White                                  0.520

                                                                                                                                                                fte_teachers  \
year                                                                                                                                                                    2018
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                                  40.0
                                                                                                                          Black or African American                     40.0
                                                                                                                          Black/Hispanic/Native American                40.0
                                                                                                                          Economically Disadvantaged                    40.0
                                                                                                                          English Learner Transitional 1-4              40.0
...                                                                                                                                                                      ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4          NaN
                                                                                                                          Non-Students with Disabilities                 NaN
                                                                                                                          Students with Disabilities                     NaN
                                                                                                                          Super Subgroup                                 NaN
                                                                                                                          White                                          NaN

                                                                                                                                                                       \
year                                                                                                                                                             2019
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                           41.0
                                                                                                                          Black or African American              41.0
                                                                                                                          Black/Hispanic/Native American         41.0
                                                                                                                          Economically Disadvantaged             41.0
                                                                                                                          English Learner Transitional 1-4       41.0
...                                                                                                                                                               ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4   NaN
                                                                                                                          Non-Students with Disabilities          NaN
                                                                                                                          Students with Disabilities              NaN
                                                                                                                          Super Subgroup                          NaN
                                                                                                                          White                                   NaN

                                                                                                                                                                         \
year                                                                                                                                                               2021
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                            41.00
                                                                                                                          Black or African American               41.00
                                                                                                                          Black/Hispanic/Native American          41.00
                                                                                                                          Economically Disadvantaged              41.00
                                                                                                                          English Learner Transitional 1-4        41.00
...                                                                                                                                                                 ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4  101.73
                                                                                                                          Non-Students with Disabilities         101.73
                                                                                                                          Students with Disabilities             101.73
                                                                                                                          Super Subgroup                         101.73
                                                                                                                          White                                  101.73

                                                                                                                                                                        \
year                                                                                                                                                              2022
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                           37.00
                                                                                                                          Black or African American              37.00
                                                                                                                          Black/Hispanic/Native American         37.00
                                                                                                                          Economically Disadvantaged             37.00
                                                                                                                          English Learner Transitional 1-4       37.00
...                                                                                                                                                                ...
Wilson County School District in Lebanon High       1-Regular school 0      0       1       31-Town: Fringe  Science      Non-English Learners/Transitional 1-4  94.78
                                                                                                                          Non-Students with Disabilities         94.78
                                                                                                                          Students with Disabilities             94.78
                                                                                                                          Super Subgroup                         94.78
                                                                                                                          White                                  94.78

                                                                                                                                                                stu_tchr_ratio  \
year                                                                                                                                                                      2018
system_name                              school_lvl school_type      magnet charter title_1 locale           subject_area student_group
Alamo City School District               Elementary 1-Regular school 0      0       1       32-Town: Distant ELA          All Students                                   15.28
                                                                                                                          Black or African American                      15.28
                                                                                                                          Black/Hispanic/Native American                 15.28
                                                                                                                          Economically Disadvantaged                     15.28

### ü§∫ Slicing and Lagging
> "... the heavy-sword splendid.  The hard-edg√®d weapon;  with Hrunting to aid me, I shall gain me glory .. "
    >> *-Beowulf*

#### ü™ü Setting Variables for lag window slicing
> üóíÔ∏è **lvpp lags** ‚Üí The lags for **Science** related metrics require some special treatment. The last valid prepandemic measurement for **ELA**, **Math**, and **Social Studies** was in **2019**.   **Science**, however, was not assessed in **2019**, but was in **2018**.  I cannnot directly compare lag windows for all subjects that start in **2019**.  In order to include metrics related to **Science** for fair comparisons, its window must start at **2018**.  Therefore, **lvpp** variables will be used as treatment for window the **last valid prepandemic measure** for each content area (e.g. 2018 or 2019 respectively).

> üóÇÔ∏è lvpp ‚Üí last valid pre-pandemic assessment to 2021 (first full school year after 2020 school closure)

> üóÇÔ∏è intra ‚Üí difference between first and second years school were reopend post-pandemic (2021 - 2022)

> üóÇÔ∏è pre_post ‚Üí difference between last valid pre-pandemic scores and last year in the dataset (lvpp to 2022)

In [18]:
# Set the stop year for all metrics
lvpp_stop = 2021

# Set the start year for Math, ELA, and Social Studies related metrics (MESS)
lvpp_start_mess = 2019

# Set the start year for Science-related metrics
lvpp_start_science = 2018

# Set the start and stop year for the "intra" lag
intra_start = 2021
intra_stop = 2022

# Science Slicer
science_slice = (slice(None), slice(None), slice(None), slice(None), slice(None), slice(None), slice(None), 'Science')

# Non-Science slicer
subjects_slice = (slice(None), slice(None), slice(None), slice(None), slice(None), slice(None), slice(None, 'Science'))

#### üìù Assessment Proficiency Lags

> üóÇÔ∏è pct_met_exceeded ‚Üí Changes in weighted average full-time students who displayed **at-least minimum expected proficiency** over time.

In [19]:
# Calculate separate lag scores for Science-related metrics.

# Last Valid Pre-Pandemic met_exceded measurement (lvpp)
weighted_avg_pivot.loc[science_slice, ('pct_met_exceeded', 'lvpp')] = (
    weighted_avg_pivot.loc[science_slice, ('pct_met_exceeded', lvpp_stop)] -
    weighted_avg_pivot.loc[science_slice, ('pct_met_exceeded', lvpp_start_science)]
)
# Calculate the lvpp scores for Math, ELA, and Social Studies related metrics
weighted_avg_pivot.loc[
    subjects_slice + (['Math', 'ELA', 'Social Studies'],),
    ('pct_met_exceeded', 'lvpp')
] = (
    weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('pct_met_exceeded', lvpp_stop)
    ] - weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('pct_met_exceeded', lvpp_start_mess)
    ]
)
# Calculate the intra lag score for 'pct_met_exceeded'
weighted_avg_pivot.loc[subjects_slice, ('pct_met_exceeded', 'intra')] = (
    weighted_avg_pivot.loc[subjects_slice, ('pct_met_exceeded', intra_stop)] -
    weighted_avg_pivot.loc[subjects_slice, ('pct_met_exceeded', intra_start)]
)
# Calculate the pre-post lag scores for Science-related metrics
weighted_avg_pivot.loc[science_slice, ('pct_met_exceeded', 'pre-post')] = (
    weighted_avg_pivot.loc[science_slice, ('pct_met_exceeded', 2022)] -
    weighted_avg_pivot.loc[science_slice, ('pct_met_exceeded', lvpp_start_science)]
)
# Calculate the pre-post lag scores for Math, ELA, and Social Studies related metrics
weighted_avg_pivot.loc[
    subjects_slice + (['Math', 'ELA', 'Social Studies'],),
    ('pct_met_exceeded', 'pre-post')
] = (
    weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('pct_met_exceeded', 2022)
    ] - weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('pct_met_exceeded', lvpp_start_mess)
    ]
)

#### üßë‚Äçüè´ Full Time Equivalent Teachers Lag

> üóÇÔ∏è fte_teachers ‚Üí Changes in weighted-average of **full-time-equivalent teachers** over time.

In [20]:
# Last Valid Pre-Pandemic science-related full-time equivalent teachers measurement (lvpp)
weighted_avg_pivot.loc[science_slice, ('fte_teachers', 'lvpp')] = (
    weighted_avg_pivot.loc[science_slice, ('fte_teachers', lvpp_stop)] -
    weighted_avg_pivot.loc[science_slice, ('fte_teachers', lvpp_start_science)]
)

# Last Valid Pre-Pandemic full-time equivalent teacher measurement (lvpp)
weighted_avg_pivot.loc[
    subjects_slice + (['Math', 'ELA', 'Social Studies'],),
    ('fte_teachers', 'lvpp')
] = (
    weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('fte_teachers', lvpp_stop)
    ] - weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('fte_teachers', lvpp_start_mess)
    ]
)

# Calculate the intra lag score for 'fte_teachers'
weighted_avg_pivot.loc[subjects_slice, ('fte_teachers', 'intra')] = (
    weighted_avg_pivot.loc[subjects_slice, ('fte_teachers', intra_stop)] -
    weighted_avg_pivot.loc[subjects_slice, ('fte_teachers', intra_start)]
)

# Calculate the 'pre-post' assessment lag scores for full-time equivalent teachers
weighted_avg_pivot[('fte_teachers', 'pre-post')] = (
    weighted_avg_pivot[('fte_teachers', 2022)] -
    weighted_avg_pivot[('fte_teachers', 'lvpp')]
)

#### üßë‚Äçüéì/üßë‚Äçüè´ Student Teacher Ratio Lag

> üóÇÔ∏è stu_tchr_ratio ‚Üí Changes in weighted-average **student-to-teacher ratio** over time.

In [21]:
# Last Valid Pre-Pandemic science-related student/teacher ratio measurement (lvpp)
weighted_avg_pivot.loc[science_slice, ('stu_tchr_ratio', 'lvpp')] = (
    weighted_avg_pivot.loc[science_slice, ('stu_tchr_ratio', lvpp_stop)] -
    weighted_avg_pivot.loc[science_slice, ('stu_tchr_ratio', lvpp_start_science)]
)

# Last Valid Pre-Pandemic non science-related student/teacher ratio measurement (lvpp)
weighted_avg_pivot.loc[
    subjects_slice + (['Math', 'ELA', 'Social Studies'],),
    ('stu_tchr_ratio', 'lvpp')
] = (
    weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('stu_tchr_ratio', lvpp_stop)
    ] - weighted_avg_pivot.loc[
        subjects_slice + (['Math', 'ELA', 'Social Studies'],),
        ('stu_tchr_ratio', lvpp_start_mess)
    ]
)

# Calculate the intra lag score for 'stu_tchr_ratio'
weighted_avg_pivot.loc[subjects_slice, ('stu_tchr_ratio', 'intra')] = (
    weighted_avg_pivot.loc[subjects_slice, ('stu_tchr_ratio', intra_stop)] -
    weighted_avg_pivot.loc[subjects_slice, ('stu_tchr_ratio', intra_start)]
)

# Calculate the 'pre-post' assessment lag scores for student/teacher ratios
weighted_avg_pivot[('stu_tchr_ratio', 'pre-post')] = (
    weighted_avg_pivot[('stu_tchr_ratio', 2022)] -
    weighted_avg_pivot[('stu_tchr_ratio', 'lvpp')]
)

### üî® "Un-Pivoting"  Weighted Average Pivot to Prepare for Geometry 
üóÇÔ∏è weighted_avg_pivot ‚Üí weighted_average_metrics

In [22]:
# Resetting index of weighted average pivot to create weighted_average_metrics DataFrame
weighted_average_metrics = weighted_avg_pivot.reset_index()

# Compressing hierarchy in columns and joining levels with "_"
weighted_average_metrics.columns = ['_'.join(str(col) for col in column) for column in weighted_average_metrics.columns.values]

# Removing trailing "_" introduced when compressing
for col in weighted_average_metrics.columns:
        # Check if the column name ends with '_'
        if col.endswith('_'):
            # If it does, remove the trailing underscore
            weighted_average_metrics = weighted_average_metrics.rename(columns={col: col[:-1]})

### üòµ‚Äçüí´ Making a sanity-check to sample weighted_average_metrics and check calculations

In [23]:
# Selection and renaming dictionary
proficiency_dict = {
    'pct_met_exceeded_2018': '18',
    'pct_met_exceeded_2019': '19',
    'pct_met_exceeded_2021': '21',
    'pct_met_exceeded_2022': '22',
    'pct_met_exceeded_lvpp': 'lvpp',
    'pct_met_exceeded_intra': 'intra',
    'pct_met_exceeded_pre-post': 'pre-post'
}

# Subsetting weighted_average_metrics and taking a random sample to check calculations
sanity_check = weighted_average_metrics.loc[:, proficiency_dict.keys()].rename(columns=proficiency_dict)
sanitarium = sanity_check.dropna().sample(n=10, random_state=42)
sanitarium

             18        19        21        22      lvpp     intra  pre-post
43016  0.475000  0.655000  0.283000  0.435000 -0.372000  0.152000 -0.220000
37075  0.376000  0.400000  0.336000  0.433000 -0.064000  0.097000  0.033000
16295  0.303980  0.376247  0.447061  0.490206  0.070814  0.043145  0.113959
12897  0.355695  0.380971  0.236846  0.287546 -0.144124  0.050700 -0.093424
44778  0.285761  0.275000  0.146000  0.184000 -0.129000  0.038000 -0.091000
54212  0.484309  0.519941  0.342323  0.468421 -0.177618  0.126098 -0.051520
29333  0.516678  0.505458  0.477569  0.431056 -0.027890 -0.046512 -0.074402
34888  0.355859  0.339727  0.298874  0.415162 -0.040853  0.116288  0.075435
8195   0.259947  0.246116  0.303000  0.260294  0.056884 -0.042706  0.014178
49830  0.239779  0.276190  0.199177  0.344263 -0.077013  0.145086  0.068073

### üïµÔ∏è Checking if system names exist in weighted assessments that do not in the district boundaries data set.  I've never been so happy to see an empty list!

In [24]:
# List of unique system names in weighted assessments
weighted_average_metrics_system_names = weighted_average_metrics['system_name'].tolist()

# List of unique system names in tn_leas
tn_leas_system_names = tn_leas['system_name'].tolist()

# Checking if system names exist in weighted assessments and do not in the district boundaries data set
unique_in_weighted_average_metrics = list(set(weighted_average_metrics_system_names) - set(tn_leas_system_names))

# Check if system name exists in district boundaries, but does not in weighted assessments
unique_in_tn_leas = list(set(tn_leas_system_names) - set(weighted_average_metrics_system_names))

In [25]:
unique_in_weighted_average_metrics

[]

### üõë Stop this seciton
> My strategy was to fully merge geospatial and weighted dataframes.  This is terribly inneficient.  I will instead handle mapping through the dasboard and merge based off of user input filter.  It has to be quicker than loading a 4 gb file.

####  üìä ü§ù üó∫Ô∏è Merging Weighted Average Metrics with District Geometry Files and converting to GeoDataFrame

In [26]:
weighted_average_metrics = pd.merge(left=weighted_average_metrics, right=tn_leas, on="system_name", how='left')
weighted_average_metrics = gpd.GeoDataFrame(weighted_average_metrics, geometry='geometry')

#### üßπ Cleaning up dtypes and reducing memory usage

In [27]:
weighted_average_metrics.dropna().sample(n=5, random_state=50)

,system_name,school_lvl,school_type,magnet,charter,title_1,locale,subject_area,student_group,pct_met_exceeded_2018,pct_met_exceeded_2019,pct_met_exceeded_2021,pct_met_exceeded_2022,fte_teachers_2018,fte_teachers_2019,fte_teachers_2021,fte_teachers_2022,stu_tchr_ratio_2018,stu_tchr_ratio_2019,stu_tchr_ratio_2021,stu_tchr_ratio_2022,pct_met_exceeded_lvpp,pct_met_exceeded_intra,pct_met_exceeded_pre-post,fte_teachers_lvpp,fte_teachers_intra,fte_teachers_pre-post,stu_tchr_ratio_lvpp,stu_tchr_ratio_intra,stu_tchr_ratio_pre-post,geometry
20709,Henry County School District,Elementary,1-Regular school,0,0,1,41-Rural: Fringe,Math,White,0.419000,0.457000,0.392000,0.446000,30.000000,31.500000,35.750000,33.750000,17.000000,17.430000,13.540000,14.190000,-0.065000,0.054000,-0.011000,4.250000,-2.000000,29.500000,-3.890000,0.650000,18.080000,"POLYGON ((-88.48907 36.50116, -88.48839 36.501..."
21699,Houston County School District,High,1-Regular school,0,0,1,42-Rural: Distant,Social Studies,Non-English Learners/Transitional 1-4,0.267000,0.200000,0.316000,0.395000,29.200000,26.800000,28.330000,28.830000,14.320000,15.820000,13.410000,12.630000,0.116000,0.079000,0.195000,1.530000,0.500000,27.300000,-2.410000,-0.780000,15.040000,"POLYGON ((-87.59236 36.36766, -87.59204 36.366..."
49204,Tipton County School District,Elementary,1-Regular school,0,0,0,31-Town: Fringe,ELA,White,0.497000,0.521000,0.502000,0.500000,52.000000,53.000000,50.000000,49.000000,17.210000,16.960000,17.100000,17.530000,-0.019000,-0.002000,-0.021000,-3.000000,-1.000000,52.000000,0.140000,0.430000,17.390000,"MULTIPOLYGON (((-90.08002 35.47707, -90.07901 ..."
42728,Rutherford County School District in Murfreesboro,Middle,1-Regular school,0,0,0,12-City: Mid-size,ELA,All Students,0.421283,0.435510,0.381926,0.432948,74.841901,75.068421,75.977655,79.932719,17.248869,17.921670,17.788368,17.635812,-0.053584,0.051022,-0.002562,0.909234,3.955065,79.023486,-0.133302,-0.152556,17.769115,"MULTIPOLYGON (((-86.49973 35.79016, -86.49998 ..."
55287,Wilson County School District,High,1-Regular school,0,0,0,41-Rural: Fringe,Math,White,0.360031,0.437851,0.307254,0.391887,119.612457,116.108147,89.443888,86.264340,17.258789,18.012017,14.845734,17.353932,-0.130597,0.084633,-0.045964,-26.664259,-3.179548,112.928600,-3.166284,2.508199,20.520216,"POLYGON ((-86.28326 36.34750, -86.28306 36.347..."

In [28]:
weighted_average_metrics.info(memory_usage ='deep')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 55834 entries, 0 to 55833
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   system_name                55834 non-null  object
 1   school_lvl                 55834 non-null  object
 2   school_type                55834 non-null  object
 3   magnet                     55834 non-null  int64
 4   charter                    55834 non-null  int64
 5   title_1                    55834 non-null  object
 6   locale                     55834 non-null  object
 7   subject_area               55834 non-null  object
 8   student_group              55834 non-null  object
 9   pct_met_exceeded_2018      34510 non-null  float64
 10  pct_met_exceeded_2019      28112 non-null  float64
 11  pct_met_exceeded_2021      38095 non-null  float64
 12  pct_met_exceeded_2022      39521 non-null  float64
 13  fte_teachers_2018          34510 non-null  float64
 14  fte_teachers_2019          28112 non-null  float64
 15  fte_teachers_2021          38095 non-null  float64
 16  fte_teachers_2022          39521 non-null  float64
 17  stu_tchr_ratio_2018        34510 non-null  float64
 18  stu_tchr_ratio_2019        28112 non-null  float64
 19  stu_tchr_ratio_2021        38095 non-null  float64
 20  stu_tchr_ratio_2022        39521 non-null  float64
 21  pct_met_exceeded_lvpp      25839 non-null  float64
 22  pct_met_exceeded_intra     34718 non-null  float64
 23  pct_met_exceeded_pre-post  25635 non-null  float64
 24  fte_teachers_lvpp          25839 non-null  float64
 25  fte_teachers_intra         34718 non-null  float64
 26  fte_teachers_pre-post      24346 non-null  float64
 27  stu_tchr_ratio_lvpp        25839 non-null  float64
 28  stu_tchr_ratio_intra       34718 non-null  float64
 29  stu_tchr_ratio_pre-post    24346 non-null  float64
 30  geometry                   55834 non-null  geometry
dtypes: float64(21), geometry(1), int64(2), object(7)
memory usage: 35.5 MB

In [29]:
weighted_average_metrics.= weighted_average_metrics[['system_name']].astype('category')

SyntaxError: invalid syntax (4116247314.py, line 1)

In [ ]:
weighted_average_metrics.memory_usage(deep=True)

Index                            128
system_name                   129150
school_lvl                   3562166
school_type                  4080908
magnet                        446672
charter                       446672
title_1                      1935960
locale                       4076407
subject_area                 3561240
student_group                4360447
pct_met_exceeded_2018         446672
pct_met_exceeded_2019         446672
pct_met_exceeded_2021         446672
pct_met_exceeded_2022         446672
fte_teachers_2018             446672
fte_teachers_2019             446672
fte_teachers_2021             446672
fte_teachers_2022             446672
stu_tchr_ratio_2018           446672
stu_tchr_ratio_2019           446672
stu_tchr_ratio_2021           446672
stu_tchr_ratio_2022           446672
pct_met_exceeded_lvpp         446672
pct_met_exceeded_intra        446672
pct_met_exceeded_pre-post     446672
fte_teachers_lvpp             446672
fte_teachers_intra            446672
fte_teachers_pre-post         446672
stu_tchr_ratio_lvpp           446672
stu_tchr_ratio_intra          446672
stu_tchr_ratio_pre-post       446672
geometry                      446672
dtype: int64

#### Renaming columns to conform with ERSI standards

In [ ]:
# rename_dict = {
#     'pct_met_exceeded_2018': 'pctm_18',
#     'pct_met_exceeded_2019': 'pctm_19',
#     'pct_met_exceeded_2021': 'pctm_21',
#     'pct_met_exceeded_2022': 'pctm_22',
#     'fte_teachers_2018': 'fte_18',
#     'fte_teachers_2019': 'fte_19',
#     'fte_teachers_2021': 'fte_21',
#     'fte_teachers_2022': 'fte_22',
#     'stu_tchr_ratio_2018': 'str_18',
#     'stu_tchr_ratio_2019': 'str_19',
#     'stu_tchr_ratio_2021': 'str_21',
#     'stu_tchr_ratio_2022': 'str_22',
#     'pct_met_exceeded_lvpp': 'pctm_lvpp',
#     'pct_met_exceeded_intra': 'pctm_intra',
#     'pct_met_exceeded_pre-post': 'pctm_pp',
#     'fte_teachers_lvpp': 'fte_lvpp',
#     'fte_teachers_intra': 'fte_intra',
#     'fte_teachers_pre-post': 'fte_pp',
#     'stu_tchr_ratio_lvpp': 'str_lvpp',
#     'stu_tchr_ratio_intra': 'str_intra',
#     'stu_tchr_ratio_pre-post': 'str_pp'
# }
# weighted_average_metrics.rename(columns=rename_dict, inplace=True)

In [ ]:
weighted_average_metrics.head(n=1)

There's some funk going on here.  District names don't match across datasets.  I'm going to do a spatial merge to see which dististricts are associated based on thier physical location.

#### ü•í Exporting Weighted Average Metrics without Geospatial Info

In [ ]:
## CAUTION!: Don't turn on the pkl generator unless hungry.
# weighted_average_metrics.to_pickle('../data/Weighted_average_metrics.pkl')

####  üó∫Ô∏è Exporting Weighed Average Metrics GeoDataFrame as Shapefile

In [ ]:
# CAUTION!: Don't turn on the GeoJSON generator unless lost.
# weighted_average_metrics.to_file('../data/weighted_average_metrics.geojson', driver='GeoJSON')

In [ ]:
# weighted_average_metrics.to_file('../data/weighted_average_metrics.shp', driver='ESRI Shapefile')

### üìä Visual EDA

In [ ]:
# Specify the school level you want to focus on
selected_school_level = 'High'

# Filter the data for "All Students" student group and the selected school level
data = weighted_average_metrics[(weighted_average_metrics['student_group'] == 'All Students') & (weighted_average_metrics['school_lvl'] == selected_school_level)]

# Get the unique content areas for the selected school level
content_areas = data['subject_area'].unique()

# Create a 2D array to store the heatmap values
z_data = []

# Iterate over content areas
for content_area in content_areas:
    # Filter the data for the current content area
    content_area_data = data[data['subject_area'] == content_area]
    
    # Get the lagged calculation values for the current content area
    lagged_values = content_area_data['pctm_pp'].values
    
    # Append the lagged calculation values to the z_data list, ignoring NaN values
    z_data.append([value for value in lagged_values if not np.isnan(value)])

# Create the heatmap trace
heatmap = go.Heatmap(
    x=content_areas,
    y=['Lagged Calculation'],
    z=z_data,
    colorscale='viridis',
    colorbar=dict(title='Percentage')
)

# Create the figure and add the heatmap
fig = go.Figure(data=heatmap)

# Customize the layout
fig.update_layout(
    title=f'Lagged Calculation by Content Area for {selected_school_level} School Level',
    xaxis=dict(title='Content Area'),
    yaxis=dict(title=''),
    height=400,
    width=800
)

# Show the heatmap
fig.show()

In [ ]:
weighted_average_metrics.head()

In [ ]:
subject_area = [weighted_average_metrics['subject_area'].unique()]
subject_area

In [ ]:
pct_lags = weighted_average_metrics[['school_lvl', 'subject_area', 'pctm_lvpp', 'pctm_intra', 'pctm_pp']]
average_proficiency = pct_lags.groupby(['school_lvl', 'subject_area']).mean().reset_index()
average_proficiency

#### Need to fix this code.  Dataframe changed shape from original code.  Need to use the updated Assessment weighted results

In [ ]:
# # Calculate average proficiency per school level and content area
# average_proficiency = weighted_average_metrics.groupby(['school_lvl', 'subject_area']).mean()[['pctm_lvpp', 'pctm_intra', 'pctm_pp']].reset_index()

# # Define subject_area
# subject_area = weighted_average_metrics['subject_area'].unique().tolist()

# # Reorder school levels
# school_lvl_order = ['Elementary', 'Middle', 'High', 'Secondary', 'Other']

# # Create bar plot
# fig = px.bar(average_proficiency, x='subject_area', y=['pctm_lvpp', 'pctm_intra', 'pctm_pp'], color_discrete_map={'pctm_lvpp': 'blue', 'pctm_intra': 'green', 'pctm_pp': 'red'},
#              facet_row='subject_area', facet_col='school_lvl',
#              category_orders={'subject_area': subject_area, 'school_lvl': school_lvl_order},
#              labels={'pctm_lvpp': 'Average Proficiency (LVPP)',
#                      'pctm_intra': 'Average Proficiency (Intra)',
#                      'pctm_pp': 'Average Proficiency (PP)',
#                      'school_lvl': 'School Level',
#                      'subject_area': 'Subject Area'})

# # Update layout
# fig.update_layout(
#     title='Average Weighted Proficiency by School Level and Content Area',
#     autosize=True,
#     width=1200,
#     height=900,
# )

# # Show the figure
# fig.show()

# # Save the figure as HTML
# fig.write_html('../plotly_html/broad_overview.html')