# Joining Common Core of Data (CCD) From National Center for Education Statistics as well as Geo data for school and district locations.

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

## Import ElSi Files

Set encoding to `latin_1` and low memory to `False` because Pandas wanted to encode as `utf-8` and `us_ascii` did not work either, Though that's what the original files were encoded in.

In [2]:
elsi_raw = pd.read_csv('../data/school_based/ELSI.csv')

## ElSi files concatination

In [3]:
elsi_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 66 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   School Name                                                        1984 non-null   object
 1   State Name [Public School] Latest available year                   1984 non-null   object
 2   School Name [Public School] 2021-22                                1984 non-null   object
 3   School Name [Public School] 2020-21                                1984 non-null   object
 4   School Name [Public School] 2018-19                                1984 non-null   object
 5   School Name [Public School] 2017-18                                1984 non-null   object
 6   Agency Name [Public School] 2021-22                                1984 non-null   object
 7   Agency Name [Public School] 2020-21                                1984 non-null   object
 8   Agency Name [Public School] 2018-19                                1984 non-null   object
 9   Agency Name [Public School] 2017-18                                1984 non-null   object
 10  School Type [Public School] 2021-22                                1984 non-null   object
 11  School Type [Public School] 2020-21                                1984 non-null   object
 12  School Type [Public School] 2018-19                                1984 non-null   object
 13  School Type [Public School] 2017-18                                1984 non-null   object
 14  Charter School [Public School] 2021-22                             1984 non-null   object
 15  Charter School [Public School] 2020-21                             1984 non-null   object
 16  Charter School [Public School] 2018-19                             1984 non-null   object
 17  Charter School [Public School] 2017-18                             1984 non-null   object
 18  Magnet School [Public School] 2021-22                              1984 non-null   object
 19  Magnet School [Public School] 2020-21                              1984 non-null   object
 20  Magnet School [Public School] 2018-19                              1984 non-null   object
 21  Magnet School [Public School] 2017-18                              1984 non-null   object
 22  Locale [Public School] 2021-22                                     1984 non-null   object
 23  Locale [Public School] 2020-21                                     1984 non-null   object
 24  Locale [Public School] 2018-19                                     1984 non-null   object
 25  Locale [Public School] 2017-18                                     1984 non-null   object
 26  Title I Eligible School [Public School] 2021-22                    1984 non-null   object
 27  Title I Eligible School [Public School] 2020-21                    1984 non-null   object
 28  Title I Eligible School [Public School] 2018-19                    1984 non-null   object
 29  Title I Eligible School [Public School] 2017-18                    1984 non-null   object
 30  Latitude [Public School] 2021-22                                   1984 non-null   object
 31  Latitude [Public School] 2020-21                                   1984 non-null   object
 32  Latitude [Public School] 2018-19                                   1984 non-null   object
 33  Latitude [Public School] 2017-18                                   1984 non-null   object
 34  Longitude [Public School] 2021-22                                  1984 non-null   object
 35  Longitude [Public School] 2020-21                                  1984 non-null   object
 36  Longitude [Public School] 2018-19                                  1984 non-null   object
 37  Longitude [Public School] 2017-18                                  1984 non-null   object
 38  State School ID [Public School] 2021-22                            1984 non-null   object
 39  State School ID [Public School] 2020-21                            1984 non-null   object
 40  State School ID [Public School] 2018-19                            1984 non-null   object
 41  State School ID [Public School] 2017-18                            1984 non-null   object
 42  State Agency ID [Public School] 2021-22                            1984 non-null   object
 43  State Agency ID [Public School] 2020-21                            1984 non-null   object
 44  State Agency ID [Public School] 2018-19                            1984 non-null   object
 45  State Agency ID [Public School] 2017-18                            1984 non-null   object
 46  Virtual School Status (SY 2016-17 onward) [Public School] 2021-22  1984 non-null   object
 47  Virtual School Status (SY 2016-17 onward) [Public School] 2020-21  1984 non-null   object
 48  Virtual School Status (SY 2016-17 onward) [Public School] 2018-19  1984 non-null   object
 49  Virtual School Status (SY 2016-17 onward) [Public School] 2017-18  1984 non-null   object
 50  School Level (SY 2017-18 onward) [Public School] 2021-22           1984 non-null   object
 51  School Level (SY 2017-18 onward) [Public School] 2020-21           1984 non-null   object
 52  School Level (SY 2017-18 onward) [Public School] 2018-19           1984 non-null   object
 53  School Level (SY 2017-18 onward) [Public School] 2017-18           1984 non-null   object
 54  Total Students All Grades (Excludes AE) [Public School] 2021-22    1984 non-null   object
 55  Total Students All Grades (Excludes AE) [Public School] 2020-21    1984 non-null   object
 56  Total Students All Grades (Excludes AE) [Public School] 2018-19    1984 non-null   object
 57  Total Students All Grades (Excludes AE) [Public School] 2017-18    1984 non-null   object
 58  Full-Time Equivalent (FTE) Teachers [Public School] 2021-22        1984 non-null   object
 59  Full-Time Equivalent (FTE) Teachers [Public School] 2020-21        1984 non-null   object
 60  Full-Time Equivalent (FTE) Teachers [Public School] 2018-19        1984 non-null   object
 61  Full-Time Equivalent (FTE) Teachers [Public School] 2017-18        1984 non-null   object
 62  Pupil/Teacher Ratio [Public School] 2021-22                        1984 non-null   object
 63  Pupil/Teacher Ratio [Public School] 2020-21                        1984 non-null   object
 64  Pupil/Teacher Ratio [Public School] 2018-19                        1984 non-null   object
 65  Pupil/Teacher Ratio [Public School] 2017-18                        1984 non-null   object
dtypes: object(66)
memory usage: 1023.1+ KB

In [4]:
# Slice ElSi data into dataframes by year.
elsi_18 = elsi_raw.loc[:, elsi_raw.columns.str.contains('2017-18')]
elsi_19 = elsi_raw.loc[:, elsi_raw.columns.str.contains('2018-19')]
elsi_21 = elsi_raw.loc[:, elsi_raw.columns.str.contains('2020-21')]
elsi_22 = elsi_raw.loc[:, elsi_raw.columns.str.contains('2021-22')]

In [5]:
# List for column renaming
elsi_cols = ['school_name', 
             'system_name', 
             'school_type', 
             'charter',
             'magnet',
             'locale',
             'title_1',
             'lat',
             'long',
             'school',
             'system',
             'virtual',
             'school_lvl',
             'tot_enrolled',
             'fte_teachers',
             'stu_tchr_ratio'
             ]

In [6]:
# Due to an unforseeable quirk, this picked up three additional columns
elsi_18 = elsi_18.drop(['School Level (SY 2017-18 onward) [Public School] 2021-22',
                       'School Level (SY 2017-18 onward) [Public School] 2020-21',
                       'School Level (SY 2017-18 onward) [Public School] 2018-19'],
                       axis = 1)
# Apply elsi_cols list to replace column names
elsi_18.columns = elsi_cols

# Adding Year column
elsi_18['year'] = 2018

# Apply elsi_cols list to 2019
elsi_19.columns = elsi_cols

# Adding 2019 Year column
elsi_19['year'] = 2019

# Apply elsi_cols list to 2021
elsi_21.columns = elsi_cols

# Adding 2021 Year column
elsi_21['year'] = 2021

# Apply elsi_cols list to 2022
elsi_22.columns = elsi_cols

# Adding 2022 Year column
elsi_22['year'] = 2022

In [7]:
# Concatonate all ElSi Data to long dataframe
elsi = pd.concat([elsi_18, elsi_19, elsi_21, elsi_22])

In [8]:
elsi_order = (['year',
            'system',
            'school',
            'system_name',
            'school_name', 
            'school_lvl',
            'tot_enrolled', 
            'fte_teachers', 
            'stu_tchr_ratio',
            'school_type', 
            'magnet',
            'charter',
            'virtual',
            'title_1',
            'lat', 
            'long', 
            'locale'
             ])
elsi = elsi[elsi_order]

In [10]:
elsi.head()

,year,system,school,system_name,school_name,school_lvl,tot_enrolled,fte_teachers,stu_tchr_ratio,school_type,magnet,charter,virtual,title_1,lat,long,locale
0,2018,TN-00670,TN-00670-0065,Overton County,A H Roberts Elementary,Elementary,416,29.1,14.3,1-Regular school,2-No,2-No,NOTVIRTUAL,1-Yes,36.387276,-85.31972,33-Town: Remote
1,2018,TN-00470,TN-00470-0066,Knox County,A L Lotts Elementary,Elementary,943,54,17.46,1-Regular school,2-No,2-No,NOTVIRTUAL,2-No,35.882519,-84.083215,21-Suburb: Large
2,2018,TN-00792,TN-00792-2005,Shelby County,A. B. Hill Elementary,Elementary,310,24.6,12.6,1-Regular school,2-No,2-No,NOTVIRTUAL,1-Yes,35.11004,-90.051057,11-City: Large
3,2018,TN-00792,TN-00792-2740,Shelby County,A. Maceo Walker Middle,Middle,686,32.4,21.17,1-Regular school,2-No,2-No,NOTVIRTUAL,1-Yes,35.0365,-90.0011,11-City: Large
4,2018,TN-00190,TN-00190-0001,Davidson County,A. Z. Kelley Elementary,Elementary,807,51,15.82,1-Regular school,2-No,2-No,NOTVIRTUAL,1-Yes,36.021806,-86.659107,11-City: Large

### Exporting cleaned ElSi file as elsi_clean.csv to the school_based subdirectory in my data folder.

In [ ]:
elsi.to_csv('../data/school_based/elsi_clean.csv')