In [1]:
import pandas as pd

In [7]:
data_2017 = pd.read_csv('../data/school_based/2017.csv')
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440633 entries, 0 to 440632
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             440633 non-null  int64
 1   system           440633 non-null  int64
 2   school           440633 non-null  int64
 3   subject          440633 non-null  object
 4   grade            440633 non-null  object
 5   subgroup         440633 non-null  object
 6   valid_tests      440633 non-null  float64
 7   n_below          440633 non-null  object
 8   n_approaching    440633 non-null  object
 9   n_on_track       440633 non-null  object
 10  n_mastered       440633 non-null  object
 11  pct_below        440633 non-null  object
 12  pct_approaching  440633 non-null  object
 13  pct_on_track     440633 non-null  object
 14  pct_mastered     440633 non-null  object
 15  pct_on_mastered  440633 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 53.8+ MB

In [10]:
data_2018 =pd.read_csv('../data/school_based/2018.csv')
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595171 entries, 0 to 595170
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             595171 non-null  int64
 1   system           595171 non-null  int64
 2   system_name      595171 non-null  object
 3   school           595171 non-null  int64
 4   school_name      595171 non-null  object
 5   test             595171 non-null  object
 6   subject          595171 non-null  object
 7   grade            595171 non-null  object
 8   subgroup         595171 non-null  object
 9   valid_tests      595171 non-null  float64
 10  n_below          595171 non-null  object
 11  n_approaching    595171 non-null  object
 12  n_on_track       595171 non-null  object
 13  n_mastered       595171 non-null  object
 14  pct_below        595171 non-null  object
 15  pct_approaching  595171 non-null  object
 16  pct_on_track     595171 non-null  object
 17  pct_mastered     595171 non-null  object
 18  pct_on_mastered  595171 non-null  object
dtypes: float64(1), int64(3), object(15)
memory usage: 86.3+ MB

In [11]:
data_2019 = pd.read_csv('../data/school_based/2019.csv')
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458442 entries, 0 to 458441
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             458442 non-null  int64
 1   system           458442 non-null  int64
 2   system_name      458442 non-null  object
 3   school           458442 non-null  int64
 4   school_name      458310 non-null  object
 5   test             458442 non-null  object
 6   subject          458442 non-null  object
 7   grade            458442 non-null  object
 8   subgroup         458442 non-null  object
 9   enrolled         458442 non-null  int64
 10  tested           458442 non-null  int64
 11  valid_tests      458442 non-null  int64
 12  n_below          458442 non-null  object
 13  n_approaching    458442 non-null  object
 14  n_on_track       458442 non-null  object
 15  n_mastered       458442 non-null  object
 16  pct_below        458442 non-null  object
 17  pct_approaching  458442 non-null  object
 18  pct_on_track     458442 non-null  object
 19  pct_mastered     458442 non-null  object
 20  pct_on_mastered  458442 non-null  object
dtypes: int64(6), object(15)
memory usage: 73.5+ MB

In [13]:
data_2021 = pd.read_csv('../data/school_based/2021.csv')
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646799 entries, 0 to 646798
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   year                646799 non-null  int64
 1   system              646799 non-null  int64
 2   system_name         646799 non-null  object
 3   school              646799 non-null  int64
 4   school_name         646799 non-null  object
 5   test                646799 non-null  object
 6   subject             646799 non-null  object
 7   grade               646799 non-null  object
 8   subgroup            646799 non-null  object
 9   participation_rate  646799 non-null  object
 10  enrolled            646799 non-null  int64
 11  tested              646799 non-null  int64
 12  valid_tests         646799 non-null  int64
 13  n_below             646799 non-null  object
 14  n_approaching       646799 non-null  object
 15  n_on_track          646799 non-null  object
 16  n_mastered          646799 non-null  object
 17  pct_below           646799 non-null  object
 18  pct_approaching     646799 non-null  object
 19  pct_on_track        646799 non-null  object
 20  pct_mastered        646799 non-null  object
 21  pct_on_mastered     646799 non-null  object
dtypes: int64(6), object(16)
memory usage: 108.6+ MB

In [14]:
data_2022 = pd.read_excel('../data/school_based/2022.xlsx')
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675534 entries, 0 to 675533
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   year                       675534 non-null  int64
 1   system                     675534 non-null  int64
 2   system_name                675534 non-null  object
 3   school                     675534 non-null  int64
 4   school_name                675534 non-null  object
 5   test                       675534 non-null  object
 6   subject                    675534 non-null  object
 7   grade                      675534 non-null  object
 8   student_group              675534 non-null  object
 9   participation_rate         675534 non-null  object
 10  enrolled                   675534 non-null  int64
 11  tested                     675534 non-null  int64
 12  valid_tests                675534 non-null  int64
 13  n_below                    675534 non-null  object
 14  n_approaching              675534 non-null  object
 15  n_met_expectations         675534 non-null  object
 16  n_exceeded_expectations    675534 non-null  object
 17  pct_below                  675534 non-null  object
 18  pct_approaching            675534 non-null  object
 19  pct_met_expectations       675534 non-null  object
 20  pct_exceeded_expectations  675534 non-null  object
 21  pct_met_exceeded           675534 non-null  object
dtypes: int64(6), object(16)
memory usage: 113.4+ MB