In [1]:
import pandas as pd

In [40]:
data_2017 = pd.read_csv('../data/school_based/2017.csv')
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440633 entries, 0 to 440632
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             440633 non-null  int64
 1   system           440633 non-null  int64
 2   school           440633 non-null  int64
 3   subject          440633 non-null  object
 4   grade            440633 non-null  object
 5   subgroup         440633 non-null  object
 6   valid_tests      440633 non-null  float64
 7   n_below          440633 non-null  object
 8   n_approaching    440633 non-null  object
 9   n_on_track       440633 non-null  object
 10  n_mastered       440633 non-null  object
 11  pct_below        440633 non-null  object
 12  pct_approaching  440633 non-null  object
 13  pct_on_track     440633 non-null  object
 14  pct_mastered     440633 non-null  object
 15  pct_on_mastered  440633 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 53.8+ MB

In [41]:
# Looks like 2017 does not have the school_name and system_name columns.  Will need to fix.
data_2017.head(n=1)

,year,system,school,subject,grade,subgroup,valid_tests,n_below,n_approaching,n_on_track,n_mastered,pct_below,pct_approaching,pct_on_track,pct_mastered,pct_on_mastered
0,2017,10,2,Algebra I,10,All Students,50.0,**,**,**,**,**,**,**,**,**

In [42]:
data_2018 =pd.read_csv('../data/school_based/2018.csv')
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595171 entries, 0 to 595170
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   year             595171 non-null  int64
 1   system           595171 non-null  int64
 2   system_name      595171 non-null  object
 3   school           595171 non-null  int64
 4   school_name      595171 non-null  object
 5   test             595171 non-null  object
 6   subject          595171 non-null  object
 7   grade            595171 non-null  object
 8   subgroup         595171 non-null  object
 9   valid_tests      595171 non-null  float64
 10  n_below          595171 non-null  object
 11  n_approaching    595171 non-null  object
 12  n_on_track       595171 non-null  object
 13  n_mastered       595171 non-null  object
 14  pct_below        595171 non-null  object
 15  pct_approaching  595171 non-null  object
 16  pct_on_track     595171 non-null  object
 17  pct_mastered     595171 non-null  object
 18  pct_on_mastered  595171 non-null  object
dtypes: float64(1), int64(3), object(15)
memory usage: 86.3+ MB

In [43]:
data_2018.head(n=1)

,year,system,system_name,school,school_name,test,subject,grade,subgroup,valid_tests,n_below,n_approaching,n_on_track,n_mastered,pct_below,pct_approaching,pct_on_track,pct_mastered,pct_on_mastered
0,2018,10,Anderson County,2,Anderson County High School,EOC,Algebra I,10,All Students,43.0,**,**,**,**,**,**,**,**,**

In [44]:
# Create a unique mapping of 2018 dataframe
mapping_2018 = data_2018.drop_duplicates(subset=['system', 'school'])

# Merge the dataframes
data_2017 = pd.merge(data_2017, mapping_2018[['system', 'system_name', 'school', 'school_name']], on=['system', 'school'], how='left')

# Specify column order to match subsequent dataframes
new_order = ['year', 'system', 'system_name', 'school', 'school_name', 'subject', 'grade', 'subgroup', 'valid_tests',
             'n_below', 'n_approaching', 'n_on_track', 'n_mastered', 'pct_below', 
             'pct_approaching', 'pct_on_track', 'pct_mastered', 'pct_on_mastered']

# Reorder the columns
data_2017 = data_2017[new_order]
data_2017

,year,system,system_name,school,school_name,subject,grade,subgroup,valid_tests,n_below,n_approaching,n_on_track,n_mastered,pct_below,pct_approaching,pct_on_track,pct_mastered,pct_on_mastered
0,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,All Students,50.0,**,**,**,**,**,**,**,**,**
1,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Economically Disadvantaged,25.0,**,**,**,**,**,**,**,**,**
2,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Non-Black/Hispanic/Native American,50.0,**,**,**,**,**,**,**,**,**
3,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Non-Economically Disadvantaged,25.0,**,**,**,**,**,**,**,**,**
4,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Non-English Learners,50.0,**,**,**,**,**,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440628,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Non-English Learners/T1 or T2,101.0,**,**,**,**,**,**,**,**,**
440629,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Non-Students with Disabilities,94.0,**,**,**,**,**,**,**,**,**
440630,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Students with Disabilities,10.0,**,**,**,**,**,**,**,**,**
440631,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Super Subgroup,104.0,**,**,**,**,**,**,**,**,**
440632,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,White,3.0,*,*,*,*,*,*,*,*,*

In [39]:
# Reorder columns to match subsequent dataframes
new_order = ['year', 'system', 'system_name', 'school', 'school_name', 'subject', 'grade', 'subgroup', 'valid_tests',
             'n_below', 'n_approaching', 'n_on_track', 'n_mastered', 'pct_below', 
             'pct_approaching', 'pct_on_track', 'pct_mastered', 'pct_on_mastered']

# Reorder the columns
data_2017 = data_2017[new_order]

,year,system,system_name,school,school_name,subject,grade,subgroup,valid_tests,n_below,n_approaching,n_on_track,n_mastered,pct_below,pct_approaching,pct_on_track,pct_mastered,pct_on_mastered
0,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,All Students,50.0,**,**,**,**,**,**,**,**,**
1,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Economically Disadvantaged,25.0,**,**,**,**,**,**,**,**,**
2,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Non-Black/Hispanic/Native American,50.0,**,**,**,**,**,**,**,**,**
3,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Non-Economically Disadvantaged,25.0,**,**,**,**,**,**,**,**,**
4,2017,10,Anderson County,2,Anderson County High School,Algebra I,10,Non-English Learners,50.0,**,**,**,**,**,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440628,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Non-English Learners/T1 or T2,101.0,**,**,**,**,**,**,**,**,**
440629,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Non-Students with Disabilities,94.0,**,**,**,**,**,**,**,**,**
440630,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Students with Disabilities,10.0,**,**,**,**,**,**,**,**,**
440631,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,Super Subgroup,104.0,**,**,**,**,**,**,**,**,**
440632,2017,985,Achievement School District,8140,Hillcrest High School,US History,All Grades,White,3.0,*,*,*,*,*,*,*,*,*

In [ ]:
data_2017.info()

In [ ]:
data_2019 = pd.read_csv('../data/school_based/2019.csv')
data_2019.info()

In [ ]:
data_2021 = pd.read_csv('../data/school_based/2021.csv')
data_2021.info()

In [ ]:
data_2022 = pd.read_excel('../data/school_based/2022.xlsx')
data_2022.info()

In [ ]:
data_2019.head(n=1)

In [ ]:
data_2021.head(n=1)